<%- include('../layout/adminHeader.ejs') -%>
    <%- include('../layout/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                            class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i
                                    class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                        alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                        alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                        alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                        alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <form action="/admin/add-products" onsubmit="return validateForm()" enctype="multipart/form-data"
                    method="post">
                    <div class="row">

                        <div class="col-9">
                            <div class="content-header">
                                <h2 class="content-title">Add New Product</h2>
                                <div>
                                    
                                    <button class="btn btn-md rounded font-sm hover-up">Upload</button>
                                    <a href="/admin/category" class="btn btn-md rounded font-sm hover-up">Back</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card mb-4">
                                <div class="card-body">

                                    <div class="mb-4">
                                        <label for="product_title" class="form-label">Product title</label>
                                        <input type="text" placeholder="Type here" class="form-control"
                                            id="product_title" name="name" />
                                    </div>
                                    <div class="row gx-3">

                                        <div class="col-md-4 mb-3">
                                            <label class="form-label">Price</label>
                                            <input type="number" placeholder="Type here" id="price" class="form-control"
                                                name="price" />
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="product_color" class="form-label">Brand</label>
                                            <input type="text" placeholder="Type here" class="form-control"
                                                id="product_brand" name="brand" />
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="offerPrice" class="form-label">Offer Prize</label>
                                            <input type="number" placeholder="Type here" class="form-control"
                                                id="offer_Price" name="offerPrice" />
                                        </div>

                                    </div>
                                    <div class="row gx-3">

                                        <!-- <div class="col-md-4 mb-3">
                                            <label class="form-label">Quantity</label>
                                            <input type="number" placeholder="Type here" class="form-control"
                                                id="quantity" name="stock" />
                                        </div> -->

                                        <div class="col-md-4 mb-3">
                                            <label class="form-label">Categories</label>
                                            <select class="form-select" name="category">
                                                <% for (let i=0; i < categories.length; i++) { %>
                                                    <option value="<%=categories[i]._id %>">
                                                        <%= categories[i].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>

                                        <div class="col-md-4 mb-3">
                                            <label class="form-label">Is Listed</label>
                                            <select class="form-select" name="isListed">
                                                <option value="true">Yes</option>
                                                <option value="false">No</option>
                                            </select>
                                        </div>

                                    </div>
                
                <div class="container">
                    <div class="row gx-3 mb-3">
                        <div >
                            <label class="form-label">Size</label>
                            <div class="d-flex flex-column">

                                <div  class="row">
                                <div class="form-check col-md-4">
                                    <input class="form-check-input" type="checkbox" value="6" id="size-1" name="size">
                                    <label class="form-check-label" for="size-1"> 6 </label>
                                    <input type="number" class="form-control quantity-input" id="quantity-1" name="quantity" placeholder="Quantity">
                                </div>
                                <div class="form-check col-md-4">
                                    <input class="form-check-input" type="checkbox" value="7" id="size-2" name="size">
                                    <label class="form-check-label" for="size-2"> 7 </label>
                                    <input type="number" class="form-control quantity-input" id="quantity-2" name="quantity" placeholder="Quantity">
                                </div>
                                <div class="form-check col-md-4">
                                    <input class="form-check-input" type="checkbox" value="8" id="size-3" name="size">
                                    <label class="form-check-label" for="size-3"> 8 </label>
                                    <input type="number" class="form-control quantity-input" id="quantity-3" name="quantity" placeholder="Quantity">
                                </div>
                            </div>
                            <div  class="row">
                                <div class="form-check col-md-4 ">
                                    <input class="form-check-input" type="checkbox" value="9" id="size-4" name="size">
                                    <label class="form-check-label" for="size-4"> 9 </label>
                                    <input type="number" class="form-control quantity-input" id="quantity-4" name="quantity" placeholder="Quantity">
                                </div>
                                <div class="form-check col-md-4">
                                    <input class="form-check-input" type="checkbox" value="10" id="size-5" name="size">
                                    <label class="form-check-label" for="size-5"> 10 </label>
                                    <input type="number" class="form-control quantity-input" id="quantity-5" name="quantity" placeholder="Quantity">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                                    
                                </div>
                            </div>
                            <!-- card end// -->

                            
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div>
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" style="min-height:100px !important;" class="form-control" id="description" 
                                            name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card mb-4 p-4">
                                <!-- <label for="">Product Images</label> -->
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 mb-3">
                                        <label for="imageInput" class="image-label">Upload Images</label>
                                        <input name="images" type="file" accept="image/*" id="imageInput" class="imageInput" accept="image/png, image/gif, image/jpeg"  multiple
                                               onchange="previewImages(this)">
                                    </div>
                                </div>
                                <div id="previewContainer" class="row"></div>
                            </div>
                            
                            
                            
                            <!-- card end// -->

                        </div>
                    </div>

                </form>
            </section>
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>

        <script>
            function validateForm() {
                console.log('im in validation');
                let name = document.getElementById('product_title').value;
                let description = document.getElementById('description').value;
                let price = document.getElementById('price').value;
                let offerPrice = document.getElementById('offer_Price').value;
                // let quantity = document.getElementById('quantity').value;
                let brand = document.getElementById('product_brand').value;
                let lettersAndNumbersRegex = /^[A-Za-z0-9 ]+$/;
                let sizeCheckboxes = document.getElementsByName('size');
                let imageInput = document.getElementById('imageInput').files.length;
                let selectedSizes = [];
            

                for (let i = 0; i < sizeCheckboxes.length; i++) {
                    if (sizeCheckboxes[i].checked) {
                        selectedSizes.push(sizeCheckboxes[i].value);
                    }
                }

    for (let i = 1; i <= 5; i++) { 
    let sizeCheckbox = document.getElementById(`size-${i}`);
    let quantityInput = document.getElementById(`quantity-${i}`);
    
    if (sizeCheckbox.checked && quantityInput.value.trim() === '') {
        alert('Quantity must be provided for all selected sizes.');
        return false;
    }
    
    if (sizeCheckbox.checked && parseInt(quantityInput.value) <= 0) {
        alert('Quantity must be greater than Zero.');
        return false;
    }
}
               
                if (!name || !description || !price || !brand || !offerPrice) {
                    alert('Please fill all fields.');
                    return false;

                } else if (name.trim() === "" || description.trim() === "" || price.trim() === "") {
                    alert('Please fill properly, Remove blank spaces.');
                    return false;

                } else if (!lettersAndNumbersRegex.test(name)) {
                    alert('Product name only contain letters.');
                    return false;

                } else if (description.length <= 20) {
                    alert('Description should be contain alteast 20 letters');
                    return false;


                } else if (Number(price) <= 0) {
                    alert('Price must be a positive number');
                    return false;

                } else if (Number(offerPrice ) <= 0) {
                    alert('Offer Price must be a positive number');
                    return false;

                } else if (price<offerPrice) {
                    alert('Offer Price should be lessthan price');
                    return false;         
               
                } else if (selectedSizes.length == 0) {
                        alert('Please select the size of the product');
                        return false;

                    // } else if (!imageInput.files) {
                    // alert('Please add images of the product');
                    // return false;

                } else if (imageInput<4) {
                    alert('Please add 4 images of the product');
                    return false;

                } else if (imageInput>4) {
                    alert('only allowed 4 images');
                    return false;

                    } else {
                        return true;
                    }
            }

        </script>
        <script>

function previewImages(input) {
    const previewContainer = document.getElementById('previewContainer');
    previewContainer.innerHTML = ''; // Clear previous previews

    const files = input.files;
    for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();

        reader.onload = function (e) {
            const img = document.createElement('img');
            img.src = e.target.result;
            img.alt = 'Preview';
            img.style.height = '150px';
            img.style.width = '150px';

            const fileName = document.createElement('p');
            fileName.textContent = file.name;
            fileName.style.whiteSpace = 'nowrap'; // Prevent line breaks
            fileName.style.overflow = 'hidden'; // Hide overflow text
            fileName.style.textOverflow = 'ellipsis'; // Show ellipsis (...) for overflow text
            fileName.style.width = '100%'; // Ensure the file name stays within its container

            const changeBtn = document.createElement('button');
            changeBtn.textContent = 'Change Image';
            changeBtn.onclick = function() {
                const newInput = document.createElement('input');
                newInput.type = 'file';
                newInput.accept = 'image/*';
                newInput.onchange = function(event) {
                    const newFile = event.target.files[0];
                    const newReader = new FileReader();
                    newReader.onload = function (evt) {
                        img.src = evt.target.result;
                        fileName.textContent = newFile.name; // Update file name
                    };
                    newReader.readAsDataURL(newFile);
                };
                newInput.click();
            };

            const previewDiv = document.createElement('div');
            previewDiv.className = 'col-lg-3 col-md-4 mb-3';
            previewDiv.appendChild(img);
            previewDiv.appendChild(fileName);
            previewDiv.appendChild(changeBtn);
            previewContainer.appendChild(previewDiv);
        };

        reader.readAsDataURL(file);
    }
}


</script>






        </script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b3saGYTJ6Aaz75Sm+89YUMtX7P5S9STQCUlQ9v3hICLJo9EmY5+4GvIlb5wfpz0"
            crossorigin="anonymous"></script>
        <%- include('../layout/adminFooter.ejs') -%>