<%- include('../layout/admin/adminHeader.ejs') -%>
    <%- include('../partials/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <%- include('../partials/adminHeaderBody') -%>

                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order Details</h2>
                            <p></p>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row gx-3">
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <!-- <input type="text" placeholder="Search..." class="form-control" /> -->
                                    <form class="searchform">
                                        <div class="input-group">
                                            <input list="search_terms" type="text" class="form-control"
                                                placeholder="Search term" id="customersSearch" />
                                            <button class="btn btn-light bg" type="button"><i
                                                    class="material-icons md-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive" id="orders">
                                <table class="table table-hover" id="customerTable">
                                    <thead class="bg-dark text-white bg-opacity-50">
                                        <tr class="text-center">
                                            <th>ID</th>
                                            <th scope="col">Delivery Name</th>
                                            <th scope="col">Mobile No</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">date</th>
                                            <th scope="col">Change Status</th>
                                            <th scope="col">more details</th>
                                        </tr>
                                        <% console.log('ordersDetails',ordersDetails) %>
                                    </thead>
                                    <tbody>
                                        <% if(ordersDetails){%>
                                            <% ordersDetails.forEach((order,i)=>{%>
                                                <tr class="text-center">
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td><b>
                                                            <%=order.deliveryAddress.name%>
                                                        </b></td>
                                                    <td>
                                                        <%=order.deliveryAddress.mobile%>
                                                    </td>
                                                    <td>
                                                        <%=order.totalAmount%>
                                                    </td>
                                                    <td>
                                                        <%=order.orderStatus%>
                                                    </td>
                                                    <% const formatedDate=order.date.toDateString()%>
                                                        <td>
                                                            <%=formatedDate%>
                                                        </td>
                                                        <td>
                                                            <%if(order.orderStatus=='Delivered' || order.orderStatus=='Cancelled' ){%>
                                                            <select disabled class="form-select  change-order-status?id="
                                                                style="font-size: 12px;" id="order-status"
                                                                name="orderStatus"
                                                                onchange="changeOrderStatus(this.value, '<%= order._id %>')">
                                                                <option selected value="<%=order.orderStatus%>">
                                                                    <%=order.orderStatus%>
                                                                </option>
                                                                <option value="shipped">Shipped</option>
                                                                <option value="Delivered">Delivered</option>
                                                                <option value="Cancelled">Cancel</option>
                                                            </select>
                                                            <%}else{%>

                                                                <select class="form-select  change-order-status?id="
                                                                style="font-size: 12px;" id="order-status"
                                                                name="orderStatus"
                                                                onchange="changeOrderStatus(this.value, '<%= order._id %>')">
                                                                <option selected value="<%=order.orderStatus%>">
                                                                    <%=order.orderStatus%>
                                                                </option>
                                                                <option value="shipped">Shipped</option>
                                                                <option value="Delivered">Delivered</option>
                                                                <option value="Cancelled">Cancel</option>
                                                            </select>

                                                            <%}%>
                                                        </td>

                                                        <td class="text-center">
                                                            <a style="all: unset; color: forestgreen;"
                                                                href="/admin/order-single?id=<%=order._id%>">more
                                                                Details</a>
                                                        </td>
                                                </tr>
                                                <% })%>
                                                    <%}else{%>
                                                        <tr>
                                                            <td colspan="8" class="text-center">No order Found !</td>
                                                        </tr>
                                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>
                    <!-- card end// -->

                    <div class="pagination-area mt-20 mb-30">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item "><a class="page-link d-flex align-items-center justify-content-center" href="/admin/orders?page=<%=previous%>"><i class="material-icons md-chevron_left"></i></a></li>
                                <li class="page-item active"><a class="page-link d-flex align-items-center justify-content-center" href="/admin/orders?page=<%=page%>"><%=page%></a></li>
                                <li class="page-item"><a class="page-link d-flex align-items-center justify-content-center" href="/admin/orders?page=<%=next%>"><i class="material-icons md-chevron_right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <!-- content-main end// -->

        </main>



        <script>
            // document.addEventListener('DOMContentLoaded', () => {

            //     let searchInput = document.getElementById('customersSearch');
            //     searchInput.addEventListener('keyup', () => {

            //         let searchTerm = searchInput.value.toLowerCase();
            //         let tableRow = document.querySelectorAll('#customerTable tbody tr');

            //         tableRow.forEach(function (row) {
            //             let nameColoumn = row.querySelector('td:nth-child(2)');

            //             if (nameColoumn) {
            //                 let nameText = nameColoumn.textContent.toLowerCase()
            //                 row.style.display = nameText.includes(searchTerm) ? "" : "none";
            //             }
            //         })


            //     })
            // })

            function changeOrderStatus(orderStatus, orderId) {
                Swal.fire({
  title: "Are you sure?",
  text: "You won't be able to revert this!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: "#3085d6",
  cancelButtonColor: "#d33",
  confirmButtonText: "Yes,!"
}).then((result) => {
  if (result.isConfirmed) {

    fetch('/admin/change-order-status?id=' + orderId, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ orderStatus })
                })
                .then((res) => {
                        return res.json();
                    })
                    .then((response) => {

                        if (response.statusUpdated) {
                            $('#orders').load('/admin/orders #orders')
                        }
                    }).catch((error) => {
                        console.error('Error:', error);
                    })

    Swal.fire({
      title: "Done !",
      text: "Order status has been changed.",
      icon: "success",
      timer:1000
    });
  }
});
            }



        </script>



        <script>

        </script>


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- </body>
                                </html> -->
        <%- include('../layout/admin/adminFooter.ejs') -%>