<%- include('../layout/admin/adminHeader.ejs') -%>
    <%- include('../partials/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <%- include('../partials/adminHeaderBody') -%>

                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Return Requests</h2>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <!-- <header class="card-header">
                            <div class="row gx-3">
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <form class="searchform">
                                        <div class="input-group">
                                            <input list="search_terms" type="text" class="form-control"
                                                placeholder="Search term" id="customersSearch" />
                                            <button class="btn btn-light bg" type="button"><i
                                                    class="material-icons md-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2 col-6 col-md-3">
                                    <select class="form-select">
                                        <option>Status</option>
                                        <option>Active</option>
                                        <option>Disabled</option>
                                        <option>Show all</option>
                                    </select>
                                </div>
                            </div>
                        </header> -->
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive darkmode" id="return">
                                <table class="table table-hover" id="return-requests">
                                    <thead class="bg-dark text-white bg-opacity-50">
                                        <tr class="text-center">
                                            <th>SL No</th>
                                            <th scope="col">Order Id</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Total Amount</th>
                                            <th scope="col">Return Reason</th>
                                            <th scope="col">Action</th>
                                            <!-- <th scope="col" class="text-end">Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(returnRequestedProducts && returnRequestedProducts.length>0){%>
                                            <% returnRequestedProducts.forEach((product,i)=>{%>
                                                <%console.log('product return fornt admin',product)%>
                                                    <tr class="text-center">
                                                        <td>

                                                            <%=i+1%>
                                                        </td>

                                                        <td>
                                                            <%=product.orderId%>
                                                        </td>

                                                        <td>
                                                            <%=product.products.productId.name%>
                                                        </td>

                                                        <td>
                                                            <%=product.products.quantity%>
                                                        </td>

                                                        <td>
                                                            <%=product.products.offerPrice%>
                                                        </td>

                                                        <% let totalAmount=product.products.quantity *
                                                            product.products.offerPrice %>
                                                            <td>
                                                                <%=totalAmount%>
                                                            </td>
                                                            <td>
                                                                <%=product.products.returnReason%>
                                                            </td>
                                                            <td>
                                                                <div class=""
                                                                    style="display: flex; justify-content: space-between;">

                                                                    <button class="btn-success"
                                                                        onclick="returnRequestStatus('<%=product._id%>','<%=product.products.productId._id%>','<%=product.products.quantity%>','Accepted')">Accept</button>
                                                                    <button class="btn-xs btn-danger"
                                                                        onclick="returnRequestStatus('<%=product._id%>','<%=product.products.productId._id%>','<%=product.products.quantity%>','Denied')">Denied</button>
                                                                </div>
                                                            </td>
                                                    </tr>
                                                    <% })%>
                                                        <%}else{%>
                                                            <tr>
                                                                <td colspan="8" class="text-center">
                                                                    <h6> No Return Request Found
                                                                        Found in
                                                                        Database !</h6>
                                                                </td>
                                                            </tr>
                                                            <%}%>
                                    </tbody>

                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>
                    <!-- card end// -->

                </section>
                <!-- content-main end// -->

        </main>


        <script>
            function returnRequestStatus(orderId, productId, quantity, status) {
                console.log("orderId", orderId)//-----------------
                console.log("productId", productId)//-----------------
                let data = { orderId, productId, quantity, status }

                console.log('invoked return stataus changed');//---------------------------------------------------------------------
                console.log('data:', data);//---------------------------------------------------------------------

                fetch('/admin/return-product-status-change', {
                    method: 'post',
                    body: JSON.stringify(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((res) => res.json())
                    .then((response) => {
                        if (response.statusChanged) {
                            $(document).ready(function () {
                                $('#return-requests').load('/admin/return-request #return-requests', null, function () {
                                    console.log('Reloaded successfully');
                                });
                            });

                        }
                    })
                    .catch((error) => {
                        console.log(error)
                    })

            }
        </script>


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- </body>
                                </html> -->
        <%- include('../layout/admin/adminFooter.ejs') -%>