<%- include('../layout/admin/adminHeader.ejs') -%>

    <style>
        @media print {
            .no-print {
                display: none !important;
            }
        }
    </style>


    <div class="screen-overlay"></div>

    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Sales List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="no-print">
                <div class="d-flex">
                <a href="/admin" class="btn btn-secondary">BACK</a><br>

                    <select class="form-select mx-3 bg-secondary text-light" id="orderStatusFilter">
                        <%if(dateRange){%>
                            <option value="<%= dateRange%>"><%=dateRange%></option selected> 
                            <%}%>

                        <option value="Day">Day</option>
                        <option value="Week">Week</option>
                        <option value="Month">Month</option>
                        <option value="Year">Year</option>
                    </select>
                </div>
                <a style="margin-top: 1rem;" fcx class="btn btn-primary" onclick="downloadPdf()">Download PDF</a>
                <a style="margin-top: 1rem;" class="btn btn-success" onclick="downloadExcel()">Download Excel</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive" id="Reload">
                    <table class="table table-hover text-center" id="sales-table">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Order ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Price & Quantity</th>
                                <th>Total</th>
                                <th>Date</th>
                                <th>Payment Method</th>
                                <th class="text-center">Status</th>
                            </tr>
                        </thead> 
                        <% if(orders.length==0){%>
                            <tbody>
<td colspan="9" class="text-center">
                                     <h6 >No data Found !</h6>
                                    </td>
                            </tbody>
                            <%}else{%>
                            
                        <% let count=0 %>
                            <% orders.forEach((order)=>{ %>

                                <% order.products.forEach((product)=>{ %>
                                    <% count++ %>
                                        <tbody>
                                            <td>
                                                <%= count %>
                                            </td>
                                            <td>
                                                <%= order.orderId %>
                                            </td>
                                            <td>
                                                <div class="itemside">
                                                    <div class="left">
                                                        <img src="/user/assets/images/product-images/sharpedImages/<%=product.productId.images[0]%>"
                                                            class="img-sm img-thumbnail" alt="Item" />
                                                    </div>

                                                </div>
                                            </td>
                                            <td>
                                                <%= order.user.name %>
                                            </td>
                                            <td>
                                                <%= product.offerPrice %> x <%= product.quantity %>
                                            </td>
                                            <td>
                                                <%= product.offerPrice * product.quantity %>
                                            </td>
                                            <td>
                                                <%= (() => {
                                                    const date = new Date(order.date);
                                                    const formattedDate = date.getFullYear() + '-' +
                                                        ('0' + (date.getMonth() + 1)).slice(-2) + '-' +
                                                        ('0' + date.getDate()).slice(-2) + ' ' +
                                                        ('0' + date.getHours()).slice(-2) + ':' +
                                                        ('0' + date.getMinutes()).slice(-2) + ':' +
                                                        ('0' + date.getSeconds()).slice(-2);
                                                    return formattedDate;
                                                })() %>

                                            </td>
                                            <td>
                                                <%= order.paymentMethod %>
                                            </td>
                                            <td>
                                                <%= product.status %>
                                            </td>
                                        </tbody>
                                        <% }) %>
                                       
                                            <% }) %>
                                           <%}%>
                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
        </div>
        <!-- card end// -->
    </section>


   
    <script src="assets/js/custom/salesReport.js"defer></script>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <%- include('../layout/admin/adminFooter.ejs') -%>