<%- include('../layout/admin/adminHeader.ejs') -%>
    <%- include('../partials/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <%- include('../partials/adminHeaderBody') -%>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order Details</h2>
                        </div>
                    </div>
                    <%if(singleOrder){%>
                    <div class="card mb-2">
                        <header class="card-header">
                               
                            <div class="row gx-3">
                                <div class="col-lg-4 col-md-6 mx-auto mb-2">
                                    <div class="card">
                                        <div class="card- p-3 text-center" >
                                          <h4 class="card-title">Delivery Address</h4>
                                          <h5 class="card-subtitle mb-2 "><%=singleOrder.deliveryAddress.name%></h5>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.mobile%></span></p>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.address%> (H)</span></p>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.city%>,<%=singleOrder.deliveryAddress.district%></span></p>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.pincode%></span></p>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.state%>,<%=singleOrder.deliveryAddress.country%></span></p>
                                          <p class="card-subtitle mb-2 text-muted"><span class="text-dark"><%=singleOrder.deliveryAddress.country%></span></p>


                                          <!-- <h6 class="card-subtitle mb-2 text-muted">Name:<%=singleOrder.deliveryAddress.name%></h6>
                                          <h6 class="card-subtitle mb-2 text-muted">Mobile : <span class="text-dark"><%=singleOrder.deliveryAddress.mobile%></span></h6>
                                          <h6 class="card-subtitle mb-2 text-muted">Address : <span class="text-dark"><%=singleOrder.deliveryAddress.address%>(H)</span></h6>
                                          <h6 class="card-subtitle mb-2 text-muted">Place : <span class="text-dark"><%=singleOrder.deliveryAddress.city%>,<%=singleOrder.deliveryAddress.district%></span></h6> -->
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <div class="card">
                                        <div class="card- p-2">
                                          <h4 class="card-title">Payment Details</h4>
                                          <h6 class="card-subtitle mb-2 text-muted">Payment Method : <span class="text-dark"><%=singleOrder.paymentMethod%></span></h6>
                                          <h6 class="card-subtitle mb-2 text-muted">Order Id  : <span class="text-dark"><%=singleOrder.orderId%></span></h6>

                                        </div>
                                      </div>
                                </div>

                               
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive" id="reload">
                                <table class="table table-hover" id="customerTable">
                                    <thead class="bg-dark text-white bg-opacity-50">
                                        <tr class="text-center">
                                            <th>sI</th>
                                            <th scope="col ">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Date</th>
                                            <!-- <th scope="col">Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(singleOrder.products && singleOrder.products.length>0){%>
                                            <% singleOrder.products.forEach((order,i)=>{%>
                                                <% console.log('order product front',i,order) %>
<%let subtotal=order.quantity*order.productId.offerPrice%>
<% console.log('subtotal front',subtotal) %> 

                                                <tr class="text-center">
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <img style="width: 50px; height: 50px;" src="/user/assets/images/product-images/sharpedImages/<%=order.productId.images[0]%>" alt="image">
                                                    </td>
                                                    <td>
                                                        <%=order.productId.name%>
                                                    </td>
                                                    <td>
                                                        <%=order.productId.offerPrice%>
                                                    </td>
                                                    <td>
                                                        <%=order.quantity%>
                                                    </td>
                                                    <td>
                                                        <%=subtotal%>
                                                    </td>
                                                        <td>
                                                            <span class="px-3 py-2  rounded-pill" style="background-color: brown;">
                                                                <%=order.status%>                                                            </span>
                                                           
                                                        </td>
                                                        <% let formattedDate = singleOrder.date.toDateString()%>
                                                        <td>
                                                            <%=formattedDate%>
                                                        </td>

                                                                    <!-- <td >
                                                                        <div class="col-md-2 col-6 w-100 btn btn-sm text-center">
                                                                          
                                                                            <%if(order.status=='Delivered' || order.status=='Cancelled' ){%>
                                                                               

                                                                            <select disabled class="form-select order-single-status" style="font-size: 14px;"
                                                                            onchange="changeSingleProductStatus(this.value,'<%=singleOrder._id%>','<%=order.productId._id%>')"
                                                                            data-orderId="<%singleOrder._id%>" 
                                                                            data-productId="<%=singleOrder._id%>"
                                                                            data-userId="<%=singleOrder.user._id%>"
                                                                            data-index = <%=i%>
                                                                            id="order-status"
                                                                            name="orderStatus"
                                                                            >
                                                                                <option selected value="<%=order.status%>">
                                                                                    <%=order.status%>
                                                                                </option>
                                                                                <option value="shipped" >Shipped</option>
                                                                                <option value="Out of delivery">Out of delivery</option>
                                                                                <option value="Delivered">Deleverd</option>
                                                                                <option value="Cancelled" >Cancel</option>
                                                                            </select>
                                                                            <%}else{%>
                                                                                <select  onchange="changeSingleProductStatus(this.value,'<%=singleOrder._id%>','<%=order.productId._id%>')" class="form-select order-single-status" style="font-size: 14px;"
                                                                                value="<%=order.status%>"
                                                                                data-orderId="<%singleOrder._id%>" 
                                                                                data-productId="<%=order.productId._id%>"
                                                                                data-userId="<%=singleOrder.user._id%>"
                                                                                data-index = <%=i%>
                                                                                id="order-status"
                                                                                name="orderStatus"
                                                                                >
                                                                                    <option selected value="<%=order.status%>">
                                                                                        <%=order.status%>
                                                                                    </option>
                                                                                    <option value="shipped" >Shipped</option>
                                                                                    <option value="Out of delivery">Out of delivery</option>
                                                                                    <option value="Delivered">Deleverd</option>
                                                                                    <option value="Cancelled" >Cancel</option>
                                                                                </select>
                                                                                <%}%>
                                                                        </div>
                                                                       
                                                                    </td> -->
                                                </tr>
                                                <% })%>
                                                    <%}else{%>
                                                        <tr>
                                                            <td colspan="8" class="text-center">No order Found !</td>
                                                        </tr>
                                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>
                    
                        <%}else{%>
                            <div class="text-center"> 
                                <h4>NO Order Details not found !</h4>
                            </div>
                        <%}%>
                    <!-- card end// -->
                 
                </section>
                <!-- content-main end// -->

        </main>


       
        <script>
function changeSingleProductStatus(status,orderId,ProductId){
    console.log('status',status)//--------------
    console.log('orderId',orderId)//--------------
    console.log('ProductId',ProductId)//--------------
}


        </script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- </body>
                                </html> -->
        <%- include('../layout/admin/adminFooter.ejs') -%>