<%- include('../layout/admin/adminHeader.ejs') -%>
    <%- include('../partials/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <%- include('../partials/adminHeaderBody') -%>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Order Details</h2>
                        </div>
                    </div>
                    <%if(singleOrder){%>
                    <div class="card mb-2">
                        <header class="card-header">
                               
                            <div class="row gx-3">
                                <div class="col-lg-4 col-md-6 mx-auto mb-2">
                                    <div class="card">
                                        <div class="card- p-3">
                                          <h4 class="card-title">Delivery Address</h4>
                                          <h6 class="card-subtitle mb-2 text-muted">x</h6>
                                          <h6 class="card-subtitle mb-2 text-muted"></h6>
                                          <h6 class="card-subtitle mb-2 text-muted"></h6>
                                          <h6 class="card-subtitle mb-2 text-muted"></h6>
                                          <p class="card-text">Some : quick example text to builvdsfdsfgsdfvsdfdsdsfgdfdfd on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                      </div>
                                </div>
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <div class="card">
                                        <div class="card- p-2">
                                          <h4 class="card-title">Delivery Address</h4>
                                          <h6 class="card-subtitle mb-2 text-muted"></h6>
                                          <p class="card-text">Some : quick example text to builvdsfdsfgsdfvsdfdsdsfgdfdfd on the card title and make up the bulk of the card's content.</p>
                                          <a href="#" class="card-link">Card link</a>
                                          <a href="#" class="card-link">Another link</a>
                                        </div>
                                      </div>
                                </div>

                               
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive" id="reload">
                                <table class="table table-hover" id="customerTable">
                                    <thead class="bg-dark text-white bg-opacity-50">
                                        <tr class="text-center">
                                            <th>sI</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <!-- <th scope="col">Status</th> -->
                                            <th scope="col">Date</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        <% console.log('singleOrder front',singleOrder) %>
                                    </thead>
                                    <tbody>
                                        <% if(singleOrder.products && singleOrder.products.length>0){%>
                                            <% singleOrder.products.forEach((order,i)=>{%>
                                                <% console.log('order product front',i,order) %>
<%let subtotal=order.quantity*order.productId.offerPrice%>
<% console.log('subtotal front',subtotal) %>

                                                <tr class="text-center">
                                                    <td>
                                                        <%=i+1%>
                                                    </td>
                                                    <td>
                                                        <img style="width: 50px; height: 50px;" src="/user/assets/images/product-images/sharpedImages/<%=order.productId.images[0]%>" alt="image">
                                                    </td>
                                                    <td>
                                                        <%=order.productId.name%>
                                                    </td>
                                                    <td>
                                                        <%=order.productId.offerPrice%>
                                                    </td>
                                                    <td>
                                                        <%=order.quantity%>
                                                    </td>
                                                    <td>
                                                        <%=subtotal%>
                                                    </td>
                                                        <!-- <td>
                                                            <span class="px-3 py-2  rounded-pill" style="background-color: brown;">
                                                                <%=singleOrder.status%>                                                            </span>
                                                           
                                                        </td> -->
                                                        <% let formattedDate = singleOrder.date.toDateString()%>
                                                        <td>
                                                            <%=formattedDate%>
                                                        </td>

                                                                    <td >
                                                                        <div class="col-md-2 col-6 w-100 btn btn-sm text-center">
                                                                            
                                                                            <select class="form-select order-single-status" style="font-size: 14px;"
                                                                            data-orderId="<%singleOrder._id%>" 
                                                                            data-productId="<%=order.productId._id%>"
                                                                            data-userId="<%=singleOrder.user._id%>"
                                                                            data-index = <%=i%>
                                                                            id="order-status"
                                                                            name="orderStatus"
                                                                            >
                                                                                <option selected>Change Status</option>
                                                                                <option value="shipped" >Shipped</option>
                                                                                <option value="Out of delivery">Out of delivery</option>
                                                                                <option value="Delivered">Deleverd</option>
                                                                                <option value="Cancelled" >Cancel</option>
                                                                            </select>
                                                                        </div>
                                                                        <!-- <button class="btn btn-sm btn-success order-single-status" style="font-size: 14px;"
                                                                        data-orderId="<%singleOrder._id%>" 
                                                                        data-productId="<%=order.productId._id%>"
                                                                        data-userId="<%=singleOrder.user._id%>"
                                                                        data-index = <%=i%>
                                                                        id="order-status"
                                                                        name="orderStatus" > Delivered</button> -->
                                                                    </td>
                                                </tr>
                                                <% })%>
                                                    <%}else{%>
                                                        <tr>
                                                            <td colspan="8" class="text-center">No order Found !</td>
                                                        </tr>
                                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>
                    
                        <%}else{%>
                            <div class="text-center"> 
                                <h4>NO Order Details not found !</h4>
                            </div>
                        <%}%>
                    <!-- card end// -->
                 
                </section>
                <!-- content-main end// -->

        </main>


       
        <script>


            let  status = document.querySelectorAll('order-single-status')
            status.forEach(element => {
                // let changeStatus= document.getElementById('change-status')
                element.addEventListener('change',(e)=>{
                console.log('e status',e.target)//------------
                attachAddEventListerner()
            })

            });

            
            function attachAddEventListerner(){
                console.log(' invoked attachAddEventListerner')//-----------------------
let changeStatus= document.getElementById('change-status')
let orderId = changeStatus.getAttribute('data-orderId')
let productId = changeStatus.getAttribute('data-productId')
let userId = changeStatus.getAttribute('data-userId')
let index = changeStatus.getAttribute('data-index')

let data ={orderId,productId,userId,index}

$.ajax({
    type:'Post',
    url:'/admin/change-order-status-single',
    contentType:'application/json',
    data:JSON.stringify(data),
    success:function(response){

    },
    error:function(error){
        console.log(error)
    }
})
            }

        </script>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- </body>
                                </html> -->
        <%- include('../layout/admin/adminFooter.ejs') -%>