<%- include('../layout/admin/adminHeader.ejs') -%>
    <%- include('../partials/adminSideNav.ejs') -%>

        <main class="main-wrap">
            <%- include('../partials/adminHeaderBody') -%>


                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title">Customers Details</h2>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <header class="card-header">
                            <div class="row gx-3">
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <form class="searchform">
                                        <div class="input-group">
                                            <input list="search_terms" type="text" class="form-control"
                                                placeholder="Search term" id="customersSearch" />
                                            <button class="btn btn-light bg" type="button"><i
                                                    class="material-icons md-search"></i></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2 col-6 col-md-3">
                                    <select class="form-select">
                                        <option>Status</option>
                                        <option>Active</option>
                                        <option>Disabled</option>
                                        <option>Show all</option>
                                    </select>
                                </div>
                            </div>
                        </header>
                        <!-- card-header end// -->
                        <div class="card-body">
                            <div class="table-responsive" id="reload">
                                <table class="table table-hover" id="customerTable">
                                    <thead class="bg-dark text-white bg-opacity-50">
                                        <tr class="text-center">
                                            <th>ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Joined At</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(users){%>
                                            <% users.forEach((user,i)=>{%>
                                                <tr class="text-center">
                                                    <td>
                                                        <%=i+1+start%>
                                                    </td>
                                                    <td><b>
                                                            <%=user.name%>
                                                        </b></td>
                                                    <td>
                                                        <%=user.email%>
                                                    </td>
                                                    <td>
                                                        <%=user.mobile%>
                                                    </td>

                                                    <% if (user.verified){%>
                                                        <td><span
                                                                class="btn btn-sm btn-dark rounded font-sm text-center">Verified</span>
                                                        </td>
                                                        <%}else{%>
                                                            <td><span
                                                                    class='btn btn-sm btn-danger rounded font-sm text-center'>Not
                                                                    Verified</span></td>
                                                            <%}%>
                                                                <% const formatedDate=user.date.toDateString()%>
                                                                    <td>
                                                                        <%=formatedDate%>
                                                                    </td>
                                                                    <!-- <td><%=user.isBlocked%></td> -->
                                                                    <td class="text-center">
                                                                        <button type="button" id="block-button"
                                                                            class="btn btn-outline-dark block-button btn-sm"
                                                                            data-user-id="<%=user._id%>"
                                                                            data-status="<%=user.isBlocked%>"
                                                                            onclick="block('<%=user._id%>',event)">
                                                                            <%=user.isBlocked ? "Unblock" : "Block" %>
                                                                        </button>
                                                                        <!-- dropdown //end -->
                                                                    </td>
                                                </tr>
                                                <% })%>
                                                    <%}else{%>
                                                        <tr>
                                                            <td colspan="8" class="text-center">No Users Found !</td>
                                                        </tr>
                                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table-responsive //end -->
                        </div>
                        <!-- card-body end// -->
                    </div>
                    <!-- card end// -->
                    <div class="pagination-area mt-15 mb-50">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link d-flex align-items-center justify-content-center" href="/admin/customers?id=<%=previous%>">
                                    <i class="material-icons md-chevron_left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link " href="/admin/customers?id=<%=page%>">
                                        <%=page%>
                                    </a></li>
                                <li class="page-item"><a class="page-link d-flex align-items-center justify-content-center" href="/admin/customers?id=<%=next%>">
                                    <i class="material-icons md-chevron_right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </section>
                <!-- content-main end// -->

        </main>
        <script src="assets/js/custom/userManagement.js"defer></script>

       
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- </body>
                                </html> -->
        <%- include('../layout/admin/adminFooter.ejs') -%>