<%- include('../layout/user/header.ejs') -%>

    <div class="pageWrapper">

        <!--Page Title-->
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper">
                    <h1 class="page-width">Account details</h1>
                </div>
            </div>
        </div>
        <!--End Page Title-->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                        role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads"
                                        role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">
                                    <p>Hello <span class="font-weight-normal text-dark">User</span> (not <span
                                            class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>)
                                        <br>
                                        From your account dashboard you can view your <a href="#tab-orders"
                                            class="tab-trigger-link link-underline">recent orders</a>, manage your <a
                                            href="#tab-address" class="tab-trigger-link">shipping and billing
                                            addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your
                                            password and account details</a>.
                                    </p>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                    aria-labelledby="tab-orders-link">
                                    <%if(orders && orders.length>0){%>
                                        <table class="table table-bordered">
                                            <thead class="bg-dark text-light text-center">
                                                <tr> 
                                                    <th>order Id</th>
                                                    <th>status</th>
                                                    <th>payment method</th>
                                                    <th>Amount</th>
                                                    <th>date</th>
                                                    <th>more details</th>
                                                </tr>
                                            </thead>
                                            <%orders.forEach((order,index)=>{%>

                                                <tbody class="text-center">
                                                    <tr>
                                                        <td>
                                                           # <%=index+1001%>
                                                        </td>
                                                        <td>
                                                            <%=order.status%>
                                                        </td>
                                                        <td>
                                                            <%=order.paymentMethod%>
                                                        </td>
                                                        <td>
                                                            <%=order.totalAmount%>
                                                        </td>
                                                        <td>
                                                            <%=order.date.toDateString()%>
                                                        </td>
                                                        <td><p class="btn btn-sm more-button"  data-id="<%=order.id%>">more</p></td>
                                                    </tr>
                                                </tbody>
                                                <% })%>

                                        </table>
                                        <%}else{%>
                                            <p>No order has been made yet.</p>
                                            <a href="shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                                    class="icon-long-arrow-right"></i></a>
                                            <%}%>

                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                    aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">
                                    <%if (user && user.addresses.length>0 ){%>
                                    <p>The following addresses will be used on the checkout page by default.</p>
                                    <div class="row">
                                           <%user.addresses.forEach((address,index)=>{%>

                                         
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                                    <p><%= address.name %><br>
                                                        <%= address.address %><br>
                                                        <%= address.city %><br>
                                                        <%= address.district %><br>
                                                        <%= address.mobile %><br>
                                                        <%= address.pincode %><br>
                                                        <%= address.state %><br>
                                                        <%= address.country %><br>
                                                      
                                                        <a  class="btn" href="edit-address?index=<%= index %>">Edit <i class="icon-edit"></i></a>
                                                    </p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                        <% })%>
                                        <%}else{%>
                                            <p>No address available yet.</p>
                                            <a href="add-address" class="btn btn-outline-primary-2"><span>Add NEW</span><i
                                                    class="icon-long-arrow-right"></i></a>
                                        <%}%>

                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                    aria-labelledby="tab-account-link">

                                    <label>Name *</label>
                                    <input type="text" class="form-control" value="<%= user.name %>" required
                                        name="name">
                                    <small class="form-text">This will be how your name will be displayed in the account
                                        section and in reviews</small>
                                    <p class="text-danger" id="nameError"></p>

                                    <label>Mobile Number *</label>
                                    <input type="text" class="form-control" name="mobile" value="<%= user.mobile %>"
                                        required>
                                    <p class="text-danger" id="mobileError"></p>

                                    <label>Email address *</label>
                                    <input type="email" class="form-control mb-2" name="email" disabled
                                        value="<%= user.email %>" required>

                                    <!-- <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2"> -->

                                    <button type="submit" class="btn btn-outline-primary-2" onclick="changeProfile()">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </div><!-- .End .tab-pane -->

                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!--Footer-->
    <%- include('../partials/userBodyFooter.ejs')-%>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->

        <script>


        </script>

        <script>
            function changeProfile() {
                event.preventDefault();
                console.log('im in function');//---------

                let name = document.querySelector('input[name="name"]').value;
                let mobile = document.querySelector('input[name="mobile"]').value;
                let nameError = document.getElementById('nameError');
                let mobileError = document.getElementById('mobileError');


                // Clear previous error messages
                nameError.textContent = '';
                mobileError.textContent = '';

                // Validate name
                if (!/^\w+$/.test(name)) {
                    nameError.textContent = 'Name must contain only letters and numbers.';
                } else if (mobile.trim().length !== 10 || !/^\d+$/.test(mobile)) {
                    mobileError.textContent = 'Please enter a valid 10-digit mobile number.';
                } else {
                    console.log('im here success')//----------------------
                    let data = {name,mobile}
                    fetch('/update-profile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(Response => Response.json())
                        .then((res) => {
                            if(res.nameAlready){
                                swal.fire({
                                    title: `User name already exist`,
                                    icon: "warning",
                                    showConfirmationButton: false,
                                    timer: 1000
                                })
                            }
                            if (res.updated) {
                                swal.fire({
                                    title: `Profile updated`,
                                    icon: "success",
                                    showConfirmationButton: false,
                                    timer: 1000
                                })

                            }
                        })
                

                // if (nameError.textContent !== '' || mobileError.textContent !== '') {
                //     event.preventDefault();
                }


            }

            // Attach the validation function to the form submit event
            // document.querySelector('form').addEventListener('submit', validateForm);
        </script>

        <script>
            let moreButton = document.querySelectorAll('.more-button');
            moreButton.forEach((button)=>{
                button.addEventListener('click',(e)=>{
                    console.log('e moreButton',e)//--------------------
                 let orderId = e.target.getAttribute('data-id')
                orderSingleProduct(orderId)
            })
            })

            function orderSingleProduct(orderId){
                console.log('invoked orderSingleProduct')//---------------
               $.ajax({
                type:'post',
                url:`/order-product-single?id=${orderId}`,
                contentType:'application/json',
                success: function(res) {
    if (res.orderData && res.orderData.products.length > 0) {
        let orderTable = document.getElementById('tab-orders');
        orderTable.innerHTML = '';

        let table = document.createElement('table');
        table.className = 'table table-bordered';
        let thead = document.createElement('thead');
        thead.className = 'bg-dark text-light text-center';
        let tr = document.createElement('tr');
        tr.innerHTML = `
            <th>SL.No</th>
            <th>Image</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Status</th>
            <th>date</th>
            <th>Action</th>
        `;
        thead.appendChild(tr);
        table.appendChild(thead);

        let tbody = document.createElement('tbody');
        tbody.className = 'text-center';
        res.orderData.products.forEach((product, index) => {
            let tr = document.createElement('tr');
            tr.innerHTML = `
                <td>${index + 1}</td>
                <td><img style="width: 75px; height: 75px;" src="/user/assets/images/product-images/sharpedImages/${product.productId.images && product.productId.images.length>0 ? product.productId.images[0] : ''}" alt="product-image"></td>
                <td>${product.productId.name}</td>
                <td>${product.quantity}</td>
                <td>${product.price}</td>
                <td>${product.price*product.quantity}</td>
                <td>${product.status}</td>
                <td>${new Date(res.orderData.date).toDateString()}</td>
                <td><img style="width: 75px; height: 75px;" src="/user/assets/images/product-images/sharpedImages/${product.productId.images && product.productId.images.length>0 ? product.productId.images[0] : ''}" alt="product-image"></td>
                <td> <button class="btn btn-sm"  data-product-id="${product.productId._id}" data-action="${product.status == 'delivered' ? 'return' : 'cancel'}">${product.status =='delivered' ? "Return" :"Cancel"}</button></td>
            `;
            tbody.appendChild(tr);
        }); 
        table.appendChild(tbody);

        orderTable.appendChild(table);
    }
}
,
                error:function(error){
                    console.log(error)
                }
               })
            }


            function moreButtonclicked(productId,status,orderId){
console.log(' invoked moreButtonclicked ')//----------------------
console.log("productId",productId)//--------------------
console.log("status",status)//--------------------
console.log("orderId",orderId)//--------------------
            }
        </script>


        <!-- Including Jquery -->
        <script src="user/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="user/assets/js/vendor/jquery.cookie.js"></script>
        <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="user/assets/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="user/assets/js/bootstrap.min.js"></script>
        <script src="user/assets/js/plugins.js"></script>
        <script src="user/assets/js/popper.min.js"></script>
        <script src="user/assets/js/lazysizes.js"></script>
        <script src="user/assets/js/main.js"></script>
        <script src="user/assets/js/m-form-validation.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


        </div>

        <%- include('../layout/user/footer.ejs') -%>