<%- include('../layout/user/header.ejs') -%>

    <div class="pageWrapper">
        <%-include('../partials/userNavbar')-%>

            <style>
                .error-text {
                    font-size: 12px;
                }
            </style>

            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 class="page-width">Account details</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Account
                                            Details</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" href="/my-orders">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#wallet"
                                            role="tab" aria-controls="tab-downloads" aria-selected="false">Wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                        aria-labelledby="tab-address-link">
                                        <%if (user && user.addresses.length>0 ){%>
                                            <p>The following addresses will be used on the checkout page by default.</p>
                                            <div class="row">
                                                <%user.addresses.forEach((address,index)=>{%>


                                                    <div class="col-lg-6">
                                                        <div class="card card-dashboard">
                                                            <div class="card-body">
                                                                <h3 class="card-title">Billing Address</h3>
                                                                <!-- End .card-title -->

                                                                <p>
                                                                    <%= address.name %><br>
                                                                        <%= address.address %><br>
                                                                            <%= address.city %><br>
                                                                                <%= address.district %><br>
                                                                                    <%= address.mobile %><br>
                                                                                        <%= address.pincode %><br>
                                                                                            <%= address.state %><br>
                                                                                                <%= address.country %>
                                                                                                    <br>

                                                                                                    <a class="btn"
                                                                                                        href="edit-address?index=<%= index %>">Edit
                                                                                                        <i
                                                                                                            class="icon-edit"></i></a>
                                                                </p>
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .card-dashboard -->
                                                    </div><!-- End .col-lg-6 -->
                                                    <% })%>
                                                        <%}else{%>
                                                            <p>No address available yet.</p>
                                                            <a href="add-address"
                                                                class="btn btn-outline-primary-2"><span>Add NEW</span><i
                                                                    class="icon-long-arrow-right"></i></a>
                                                            <%}%>

                                            </div><!-- End .row -->
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade show active" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">

                                        <div class="" style="display: flex; justify-content: end; align-items: end;">
                                            <input style="display: none;" type="text" class="form-control"
                                                value="https://shoefactori.online/signup?referel=<%= user.referelCode%>" required
                                                id="referralLink" readonly>
                                            <button class="btn btn-dark" id="referel-copy-button" style="height: 40px; "
                                                onclick="copyToClipboard()">Referel Link</button>
                                        </div>
                                        <label>Name *</label>
                                        <input type="text" class="form-control" value="<%= user.name %>" required
                                            name="name">
                                        <small class="form-text">This will be how your name will be displayed in the
                                            account
                                            section and in reviews</small>
                                        <p class="text-danger" id="nameError"></p>

                                        <label>Mobile Number *</label>
                                        <input type="text" class="form-control" name="mobile" value="<%= user.mobile %>"
                                            required>
                                        <p class="text-danger" id="mobileError"></p>

                                        <label>Email address *</label>
                                        <input type="email" class="form-control mb-2" name="email" disabled
                                            value="<%= user.email %>" required>

                                        <button type="button" class="btn btn-outline-primary-2" data-toggle="modal"
                                            data-target="#exampleModalCenter">
                                            <span>CHANGE PASSWORD</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <button type="submit" class="btn btn-outline-primary-2"
                                            onclick="changeProfile()">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="wallet" role="tabpanel"
                                        aria-labelledby="tab-downloads-link">
                                        <h5>Available Wallet Balance : ₹ <%=walletDetails?walletDetails?.balance : 0%>
                                                .00</h5>

                                        <button type="button" class="btn btn-outline-primary-2 mb-3 mt-4"
                                            id="transaction-button" onclick="showHistory()">
                                            <span id="button-text">Transaction History</span>
                                        </button>

                                        <div id="history-table" style="display: none;">
                                            <% if(walletDetails && walletDetails.transactions.length!=0){%>


                                                <table class="table text-center">
                                                    <tr>
                                                        <thead class="table-dark">
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>status</th>
                                                            <th>Description</th>
                                                        </thead>
                                                    </tr>
                                                    <% walletDetails.transactions.forEach((history)=>{%>
                                                        <tr>
                                                            <tbody>
                                                                <td>
                                                                    <%=history.date.toDateString()%>
                                                                </td>
                                                                <td>₹ <%=history.amount%>
                                                                </td>
                                                                <td>
                                                                    <%=history.mode%>
                                                                </td>
                                                                <td>
                                                                    <%=history.description%>
                                                                </td>
                                                            </tbody>
                                                        </tr>

                                                        <%})%>

                                                </table>
                                                <% }else{%>
                                                    <h5>No available History</h5>
                                                    <% } %>

                                        </div>
                                    </div><!-- .End .tab-pane -->

                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
            </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- change password Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">change password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div>
                        <label for="old-Password">Old password</label>
                        <input type="text" id="old-Password" name="oldPassword" placeholder="Enter your old password"
                            required>
                        <div class="text-danger error-text mt-0 mb-1" id="old-Password-error"></div>
                    </div>

                    <div>
                        <label for="new-Password">New password</label>
                        <input type="password" id="new-Password" name="newPassword" placeholder="Enter your new password"
                            required>
                        <div class="text-danger error-text mt-0 mb-1" id="new-Password-error"></div>
                    </div>

                    <div>
                        <label for="confirm-Password">Confirm password</label>
                        <input type="password" id="confirm-Password" name="confirmPassword"
                            placeholder="Enter your confirm password" required>
                        <div class="text-danger error-text mt-0 mb-1" id="confirm-Password-error"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick=" validatePassword()">Save
                            changes</button>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember
                                                    Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">I agree to the
                                                    <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!--Footer-->
    <%- include('../partials/userBodyFooter.ejs')-%>
        <!--End Footer-->
        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->    

        <!-- Including Jquery -->
        <script src="user/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="user/assets/js/vendor/jquery.cookie.js"></script>
        <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="user/assets/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="user/assets/js/bootstrap.min.js"></script>
        <script src="user/assets/js/plugins.js"></script>
        <script src="user/assets/js/popper.min.js"></script>
        <script src="user/assets/js/lazysizes.js"></script>
        <script src="user/assets/js/main.js"></script>
        <script src="user/assets/js/m-form-validation.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="user/assets/js/custom/profile.js"></script>


        </div>

        <%- include('../layout/user/footer.ejs') -%>