<%- include('../layout/user/header.ejs') -%>

    <div class="pageWrapper">


        <style>
            .modal-dialog {
                width: 100%;
                max-width: 450px;
                /* Set the maximum width */
                margin: 1.75rem auto;
                /* Center the modal horizontally */
            }

            .modal-footer {
                text-align: center;
                /* Center the buttons */
            }
        </style>

        <style>
            .swal2-container .swal2-popup {
                width: 25em;
            }
        </style>
        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper">
                        <h1 class="page-width">My Orders</h1>
                    </div>
                </div>
            </div>
            <!--End Page Title-->

            <div class=" conatiner card-body">
                <div class="table-responsive" id="reloadList">
                    <%if(orders && orders.length>0){%>

                        <table class="table table-hover">
                            <thead class="bg-dark text-white bg-opacity-50">
                                <tr class="text-center">
                                    <th>SI NO</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <%orders.forEach((order,index)=>{%>
                                <tbody class="text-center">
                                    <tr class="text-center ">
                                        <td># <%=index+1001%>
                                        </td>
                                        <td class="">
                                            <div class="d-flex">
                                                <%order.products.forEach((product)=>{%>
                                                    <div class="d-flex flex-column align-items-center">
                                                        <a href="/single-product?id=<%=product.productId._id%>"><img
                                                                style="width: 50px; height: 50px;"
                                                                src="/user/assets/images/product-images/sharpedImages/<%=product.productId.images[0]%>"
                                                                alt="product image"></a>
                                                        <a href="/single-product?id=<%=product.productId._id%>"><small>
                                                                <%=product.productId.name%>
                                                            </small>
                                                        </a>
                                                    </div>
                                            </div>
                                            <%})%>
                                        </td>
                                        <td>
                                            ₹ <%=order.totalAmount%>
                                        </td>
                                        <td>
                                            <%=order.paymentMethod%>
                                        </td>
                                        <td>
                                            <%if(order.status== 'Delivered' ){%>
                                                <span class=" px-4 py-2 rounded-pill"
                                                    style="font-weight: 400; background-color: rgb(46, 168, 56); color: #e1d8d8;">

                                                    <%}else if(order.status=='Cancelled' ){%>
                                                        <span class=" px-4 py-2 rounded-pill"
                                                            style="font-weight: 400; background-color: rgb(248, 108, 20); color: #e1d8d8;">

                                                            <%}else if(order.status=='Returned' ){%>
                                                                <span class=" px-4 py-2 rounded-pill"
                                                                    style="font-weight: 400; background-color: rgb(255, 0, 0); color: #e1d8d8;">

                                                                    <%}else if(order.status=='Pending' ){%>
                                                                        <span class=" px-4 py-2 rounded-pill"
                                                                            style="font-weight: 400; background-color: rgb(11, 116, 148); color: #e1d8d8;">

                                                                            <%}else if(order.status=='Shipped' ){%>
                                                                                <span class=" px-4 py-2 rounded-pill"
                                                                                    style="font-weight: 400; background-color: rgb(0, 116, 62); color: #e1d8d8;">
                                                                                    <%}%>
                                                                                        <%= order.status%>
                                                                                </span>
                                        </td>
                                        <td>
                                            <%=order.date.toDateString()%>
                                        </td>
                                        <td>
                                            <%if(order.status=='Cancelled' || order.status=='Delivered' ){%>

                                                <a style="all: unset;"
                                                    href="/single-order-product?orderid=<%=order._id%>"><button
                                                        class="btn btn-warning rounded-pill mt-2"
                                                        id="view-details-button">View Details</button></a>

                                                <%}else{%>
                                                    <div>
                                                        <button class="btn btn-danger rounded-pill cancel-order"
                                                            id="cancel-button-<%=index%>"
                                                            data-productId="<%=order._id%>">Cancel
                                                            Order</button><br>

                                                        <a style="all: unset;"
                                                            href="/single-order-product?orderid=<%=order._id%>"><button
                                                                class="btn btn-warning rounded-pill mt-2"
                                                                id="view-details-button">View Details</button></a>
                                                    </div>
                                                    <%}%>
                                        </td>
                                    </tr>
                                </tbody>
                                <%})%>
                        </table>
                        <%}else{%>
                            <p>No order has been made yet.</p>
                            <a href="shop" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                    class="icon-long-arrow-right"></i></a>
                            <%}%>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <!-- <div class="modal fade" id="customizedModal" tabindex="-1" role="dialog" aria-labelledby="customizedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customized Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="combinedInput">Combined Input:</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="combinedInput" placeholder="Enter text">
                    <select class="form-select" id="selectOption">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: space-around;">
                <button type="button" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->

        <!-- Cancel Order button -->



        <!--End Body Content-->

        <!--Scoll Top-->
        <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
        <!--End Scoll Top-->

        <script>

            function cancelOrders(orderId, buttonId) {
                let data = orderId
                console.log(' invoked cancelOrders')//----------------------
                console.log('oreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee', orderId)//-------------
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Do you want cancel this order ?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes!",
                    cancelButtonText: "No!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {

                        fetch(`/cancel-order?orderid=${orderId}`, {
                            method: 'GET',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        }).then((res) => {
                            return res.json()
                        }).then((response) => {
                            if (response.cancelOrder == true) {
                                console.log('in orderCancel response')//----------------------
                                document.getElementById('buttonId').setAttribute('display', 'none');
                                $('#reloadList').load('/my-orders #reloadList', null, () => {
                                    swalWithBootstrapButtons.fire({
                                        title: "Cancelled!",
                                        text: "Your order has been cancelled.",
                                        icon: "success"
                                    });
                                })
                            }
                        })
                    } else if (
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire({
                            title: "Not Cancelled",
                            text: "Your order is safe !",
                            icon: "warning"
                        });
                    }
                })
                    .catch((error) => {
                        console.error('Error fetching data:', error);
                    });
            }




            //             // Get the modal
            // var modal = document.getElementById("cancelModal");

            // // Get the button that opens the modal
            // var buttons = document.querySelectorAll(".cancel-order");

            // // Get the <span> element that closes the modal
            // var span = document.getElementsByClassName("close")[0];

            // // When any cancel button is clicked, open the modal
            // buttons.forEach(function(button) {
            //   button.onclick = function() {
            //     modal.style.display = "block";
            //   }
            // });

            // // When the user clicks on <span> (x), close the modal
            // span.onclick = function() {
            //   modal.style.display = "none";
            // }

            // // When the user clicks outside of the modal, close it
            // window.onclick = function(event) {
            //   if (event.target == modal) {
            //     modal.style.display = "none";
            //   }
            // }

            // // Handle form submission
            // document.getElementById("cancelForm").addEventListener("submit", function(event) {
            //   event.preventDefault();

            //   // Get the values from the form
            //   var reason = document.getElementById("reason").value;
            //   var description = document.getElementById("description").value;

            //   // Now you can do whatever you want with the reason and description values,
            //   // such as sending them to the server via fetch() or performing any other action.

            //   // After handling the form submission, you can close the modal
            //   modal.style.display = "none";
            // });

            // // Close the modal when the close button is clicked
            // document.getElementById("cancelModalClose").addEventListener("click", function() {
            //   modal.style.display = "none";
            // });




            // Add an event listener to the cancel button
            // document.querySelectorAll('.cancel-order').forEach(item => {
            //     item.addEventListener('click', event => {
            //         // Show the modal when the cancel button is clicked
            //         var customizedModal = new bootstrap.Modal(document.getElementById('customizedModal'));
            //         customizedModal.show();
            //     });
            // });


        </script>

        <!-- Including Jquery -->
        <script src="user/assets/js/vendor/jquery-3.3.1.min.js"></script>
        <script src="user/assets/js/vendor/jquery.cookie.js"></script>
        <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="user/assets/js/vendor/wow.min.js"></script>
        <!-- Including Javascript -->
        <script src="user/assets/js/bootstrap.min.js"></script>
        <script src="user/assets/js/plugins.js"></script>
        <script src="user/assets/js/popper.min.js"></script>
        <script src="user/assets/js/lazysizes.js"></script>
        <script src="user/assets/js/main.js"></script>



        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </div>
    </body>

    <!-- belle/cart-variant1.html   11 Nov 2019 12:44:32 GMT -->

    </html>