<%- include('../layout/user/header.ejs') -%>

<div class="pageWrapper">
   


        <!--Body Content-->
        <div id="page-content">
            <!--Page Title-->
            <div class="page section-header text-center">
                <div class="page-title">
                    <div class="wrapper"><h1 class="page-width">OTP</h1></div>
                  </div>
            </div>
            <!--End Page Title-->

            <div class="wrapper-otp mx-auto pt-5" style="max-width: 500px; background-color: rgb(244, 239, 230)">

             
                <!-- <h2></h2> -->
                <div class="text-center">
                    <h6>Please enter the one-time password <br> to verify your account</h6>
                    <div><span class="text-success">A code has been sent to <%=email%></span>
            
                    </div>
                </div>

                <%if(messages.incorrect) {%>
            
                    <div class="text text-danger" style="text-align: center; margin-top: 2rem;">
                        <span><%= messages.incorrect %></span>
                   </div>
            
                <%}%>
            
                <%if(messages.expired) {%>
            
                    <div class="text text-danger" style="text-align: center; margin-top: 2rem;">
                        <span><%= messages.expired %></span>
                   </div>
            
                <%}%>
            
                <%if(messages.resend) {%>
            
                    <div class="text text-warning" style="text-align: center; margin-top: 2rem;">
                        <span><%= messages.resend %></span>
                   </div>
            
                <%}%>

                    <form action="/otp" method="post" >
            
                        <div class="d-flex p-3" id="inputs">
                            <input class="otp m-2 text-center form-control rounded" type="text" name="otp1"
                                inputmode="numeric" maxlength="1" required>
                            <input class="otp m-2 text-center form-control rounded" type="text" name="otp2" 
                                inputmode="numeric" maxlength="1" required>
                            <input class="otp m-2 text-center form-control rounded" type="text" name="otp3" 
                                inputmode="numeric" maxlength="1" required>
                            <input class="otp m-2 text-center form-control rounded" type="text" name="otp4" 
                                inputmode="numeric" maxlength="1" required>
                        </div>
            
                        <div>
                            <input type="email" value="<%=email%>" name="email" hidden>

                            <!-- <%if(referelCode){%> -->
  <input type="text" value="<%=referelCode%>" name="referel" hidden>
                           <!-- <% }%> -->
                          
                        </div>
                        <div class="input-box button mx-auto  bg-dark rounded"  style="max-width: 150px;">
                            <input type="Submit" class="text-white "  value="Log in">
                        </div>
                                                       
                        <div class="text pt-2" style="text-align: center; margin-top: 1.5rem; display: flex; flex-direction: column;">     
                            <span class="time"><p id="timer">Time remaining: <span id="countdown">60</span> seconds</p></span>
                            <span type="button" id="resend" style="color: rgb(48, 94, 150); margin-bottom:10px; padding-bottom:5px;"><a href="/resend/<%=email %>">Resend</a> </span>
                        </div>
                           
                      
                       
            
                    </form>
            </div>
            
            <script>
                // Countdown timer logic
                const countdownElement = document.getElementById('countdown');
                let countdownValue = 60;
            
                function updateCountdown() {
                    countdownElement.textContent = countdownValue;
                    countdownValue--;
            
                    if (countdownValue < 0) {
                        // Disable or hide the Resend OTP link after the countdown reaches 0
                        document.querySelector('a[href="/resend/<%=email %>"]').style.display = 'block';
                    } else {
                        setTimeout(updateCountdown, 1000);
                        document.querySelector('a[href="/resend/<%=email %>"]').style.display = 'none';

                    }
                }
            
                // Start the countdown when the page loads
                document.addEventListener('DOMContentLoaded', () => {
                    updateCountdown();
                });
            </script>
            <script src="js/user/otp.js"></script>
   
    
   <!--Footer-->
   <%-include('../partials/userBodyFooter.ejs')-%>
   <!--End Footer-->
      <!--Scoll Top-->
      <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
      <!--End Scoll Top-->
      
       <!-- Including Jquery -->
       <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
       <script src="assets/js/vendor/jquery.cookie.js"></script>
       <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
       <script src="assets/js/vendor/wow.min.js"></script>
       <!-- Including Javascript -->
       <script src="assets/js/bootstrap.min.js"></script>
       <script src="assets/js/plugins.js"></script>
       <script src="assets/js/popper.min.js"></script>
       <script src="assets/js/lazysizes.js"></script>
       <script src="assets/js/main.js"></script>
</div>

<%- include('../layout/user/footer.ejs') -%>