<%- include('../layout/user/header.ejs') -%>

<div class="pageWrapper">
    <%-include('../partials/userNavbar')-%>

<style>
  
input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px); 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; 
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: black; 
    box-shadow: 0 0 5px black; 
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #333;
}

a {
    color: black; 
    text-decoration: none;
}

a:hover {
    color: #333; 
}

</style>
<style>
    .form-group {
        position: relative;
    }

    .form-group input {
        padding-right: 30px; /* Adjust space for the icon */
    }

    .form-group .toggle-password {
        position: absolute;
        right: 28px;
        top: 40%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 ">
                	<div class="mb-4">

                       <form  method="post" action="#" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form pt-3 p-5 mx-auto " onsubmit="return validate()" style="border-radius:15px ; box-shadow: 0 0 7px;">	
                          <div class="row ">
                            <div class="d-flex justify-content-center  mx-auto">
                            
              

  <%if(messages.emailExist) {%>
            
    <div class="text text-danger pb-3 d-flex" style="text-align: center; margin-top: 2rem;">
        <strong>  <span><%= messages.emailExist %>..!</span></strong>
   </div>
   <%}%>
   
  <%if(messages.nameExist) {%>
            
    <div class="text text-danger pb-3 d-flex" style="text-align: center; margin-top: 2rem;">
        <strong>  <span><%= messages.nameExist %>..!</span></strong>
   </div>
   <%}%>
</div>
	                          

                       
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group mx mx-auto">
                                    
                                    <!-- <label  id="lname" style="font-size: 12px; padding-left: 10px;" for="FirstName">Full Name</label> -->
                                    <div class="text-danger " id="userError" style="position: absolute; top: -22px; padding-left: 50px;"></div>
                                    <input class="bg-white" type="text" name="Name" placeholder="Enter Your Full Name" id="uname" >
                                    <input type="hidden" name="referel" value="<%=referel%>">
                                </div>
                               </div>
                               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                   
                                    <!-- <label id="lemail" style="font-size: 12px; padding-left: 10px;" for="Email">Email</label> -->
                                    <div id="emailError" class="text-danger " style=" padding-left: 50px;" id="userError" ></div>
                            
                                    <input class="bg-white" type="email" name="Email" placeholder="Enter Your Email" id="email">
                                </div>
                               </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!-- <label id="lmobile" style="font-size: 12px; padding-left: 10px;" for="CustomerEmail">Mobile</label> -->
                                    <span class="text-danger" id="phoneError" > <div class="text-danger " style="position: absolute; top: -20px; left: 70px;"></div></span>
                                    <input class="bg-white" type="text" name="Mobile" placeholder="Enter Your Mobile Number "id="phone" >
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <span class="text-danger" id="passwordError" style="position: absolute; top: -22px; left: 6px;"></span>
                                    <input class="bg-white" type="password" name="Password" placeholder="Enter Your Password" id="password">
                                    <span class="toggle-password">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" onclick="togglePassword('password')">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!-- <label id="lrpassword" style="font-size: 12px; padding-left: 10px;" for="ConformPassword">Re-Enter Password</label> -->
                                    <span class="text-danger "  id="passwordError2"><div style="position: absolute; top: -22px; left: 6px;"></div></span>
                                    <input class="bg-white" type="password" value="" name="conform" placeholder="Re-Enter The Password" id="conform" >                        	
                                   <div class="bg-primary">

                                       <span class="toggle-password">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16" onclick="togglePassword('conform')">
                                               <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                               <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="row d-flex  align-items-center ">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Create" >
                            </div>
                            <div class="text pt-2 mx-auto" >
                                <h3 style="font-size: 12px; padding-left: 10px;" class="pl-4">have an account? <a href="/login" style="color: rgb(48, 94, 150); ">Log in</a></h3>
                              </div>
                          
                           
                            
                         </div>

                       
                        
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
<!--Footer-->
<footer id="footer">
    <div class="newsletter-section">
        <div class="container">
            <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7 w-100 d-flex justify-content-start align-items-center">

                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 d-flex justify-content-end align-items-center">
                        <div class="footer-social">
                            <ul class="list--inline site-footer__social-icons social-icons">
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>    
    </div>
    <div class="site-footer">
        <div class="container">
             <!--Footer Links-->
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Quick Shop</h4>
                        <ul>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Shoes</a></li>
                            <li><a href="#">chappals</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Informations</h4>
                        <ul>
                            <li><a href="/about-us">About us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Terms &amp; condition</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 footer-links">
                        <h4 class="h4">Customer Services</h4>
                        <ul>
                            <li><a href="#">Request Personal Data</a></li>
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Orders and Returns</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 contact-box">
                        <h4 class="h4">Contact Us</h4>
                        <ul class="addressFooter">
                            <li><i class="icon anm anm-map-marker-al"></i><p>55 Gallaxy Enque,<br>2568 street, calicut</p></li>
                            <li class="phone"><i class="icon anm anm-phone-s"></i><p>+91 9876543210</p></li>
                            <li class="email"><i class="icon anm anm-envelope-l"></i><p>shoefactory@gmail.com</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Footer Links-->
            <hr>
            <div class="footer-bottom">
                <div class="row">
                    <!--Footer Copyright-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-1 order-md-0 order-lg-0 order-sm-1 copyright text-sm-center text-md-left text-lg-left"><span></span> <a href="templateshub.net"></a></div>
                    <!--End Footer Copyright-->
                    <!--Footer Payment Icon-->
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 order-0 order-md-1 order-lg-1 order-sm-0 payment-icons text-right text-md-center">
                        <ul class="payment-icons list--inline">
                            <li><i class="icon fa fa-cc-visa" aria-hidden="true"></i></li>
                            <li><i class="icon fa fa-cc-mastercard" aria-hidden="true"></i></li>
                            <li><i class="icon fa fa-cc-discover" aria-hidden="true"></i></li>
                            <li><i class="icon fa fa-cc-paypal" aria-hidden="true"></i></li>
                            <li><i class="icon fa fa-cc-amex" aria-hidden="true"></i></li>
                            <li><i class="icon fa fa-credit-card" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                    <!--End Footer Payment Icon-->
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script>
        function togglePassword(id) {
            var passwordInput = document.getElementById(id);
            var togglePasswordIcon = document.querySelector(".toggle-password svg");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                togglePasswordIcon.classList.remove("bi-eye");
                togglePasswordIcon.classList.add("bi-eye-slash");
            } else {
                passwordInput.type = "password";
                togglePasswordIcon.classList.remove("bi-eye-slash");
                togglePasswordIcon.classList.add("bi-eye");
            }
        }
    </script>

     <script src="user/assets/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="user/assets/js/vendor/jquery.cookie.js"></script>
     <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="user/assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="user/assets/js/bootstrap.min.js"></script>
     <script src="user/assets/js/plugins.js"></script>
     <script src="user/assets/js/popper.min.js"></script>
     <script src="user/assets/js/lazysizes.js"></script>
     <script src="user/assets/js/main.js"></script>
     <script src="user/assets/js/m-form-validation.js"></script>

</div>

<%- include('../layout/user/footer.ejs') -%>