<%- include('../layout/user/header.ejs') -%>

<div class="pageWrapper">
    <%-include('../partials/userNavbar')-%>

<style>
  
input[type="email"],
input[type="password"],
input[type="text"] {
    width: calc(100% - 20px); 
    padding: 8px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; 
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
    border-color: black; 
    box-shadow: 0 0 5px black; 
}

input[type="submit"] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

input[type="submit"]:hover {
    background-color: #333;
}

a {
    color: black; 
    text-decoration: none;
}

a:hover {
    color: #333; 
}

</style>
    
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row ">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3 ">
                	<div class="mb-4">

                       <form  method="post" action="#" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form pt-3 p-5 mx-auto " onsubmit="return validate()" style="border-radius:15px ; box-shadow: 0 0 7px;">	
                          <div class="row ">
                            <div class="d-flex justify-content-center  mx-auto">
                            
              

  <%if(messages.emailExist) {%>
            
    <div class="text text-danger pb-3 d-flex" style="text-align: center; margin-top: 2rem;">
        <strong>  <span><%= messages.emailExist %>..!</span></strong>
   </div>
   <%}%>
   
  <%if(messages.nameExist) {%>
            
    <div class="text text-danger pb-3 d-flex" style="text-align: center; margin-top: 2rem;">
        <strong>  <span><%= messages.nameExist %>..!</span></strong>
   </div>
   <%}%>
</div>
	                          

                       
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group mx mx-auto">
                                    
                                    <!-- <label  id="lname" style="font-size: 12px; padding-left: 10px;" for="FirstName">Full Name</label> -->
                                    <div class="text-danger " id="userError" style="position: absolute; top: -12px; padding-left: 50px;"></div>
                                    <input class="bg-white" type="text" name="Name" placeholder="Enter Your Full Name" id="uname" >
                                </div>
                               </div>
                               <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                   
                                    <!-- <label id="lemail" style="font-size: 12px; padding-left: 10px;" for="Email">Email</label> -->
                                    <div id="emailError" class="text-danger " style="font-size: 12px; padding-left: 70px;" id="userError" ></div>
                            
                                    <input class="bg-white" type="email" name="Email" placeholder="Enter Your Email" id="email">
                                </div>
                               </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!-- <label id="lmobile" style="font-size: 12px; padding-left: 10px;" for="CustomerEmail">Mobile</label> -->
                                    <span class="text-danger" id="phoneError" > <div class="text-danger " style="position: absolute; top: -20px; left: 70px;"></div></span>
                                    <input class="bg-white" type="text" name="Mobile" placeholder="Enter Your Mobile Number "id="phone" >
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!-- <label id="lpassword"  style="font-size: 12px;padding-left: 10px;" for="Password">Password</label> -->
                                    <span class="text-danger "  id="passwordError"><div style="position: absolute; top: -22px; left: 6px;"></div></span>
                                    <input class="bg-white" type="text" name="Password" placeholder="Enter Your Password" id="password" >                        	
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!-- <label id="lrpassword" style="font-size: 12px; padding-left: 10px;" for="ConformPassword">Re-Enter Password</label> -->
                                    <span class="text-danger "  id="passwordError2"><div style="position: absolute; top: -22px; left: 6px;"></div></span>
                                    <input class="bg-white" type="text" value="" name="conform" placeholder="Re-Enter The Password" id="conform" >                        	
                                </div>
                            </div>
                          </div>
                          <div class="row d-flex  align-items-center ">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Create" >
                            </div>
                            <div class="text pt-2 mx-auto" >
                                <h3 style="font-size: 12px; padding-left: 10px;" class="pl-4">have an account? <a href="/login" style="color: rgb(48, 94, 150); ">Log in</a></h3>
                              </div>
                          
                           
                            
                         </div>

                       
                        
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    <!--Footer-->
    <%- include('../partials/userBodyFooter.ejs')-%>
    <!--End Footer-->
    <!--Scoll Top-->
    <span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>
    <!--End Scoll Top-->
    
     <!-- Including Jquery -->
     <script src="user/assets/js/vendor/jquery-3.3.1.min.js"></script>
     <script src="user/assets/js/vendor/jquery.cookie.js"></script>
     <script src="user/assets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="user/assets/js/vendor/wow.min.js"></script>
     <!-- Including Javascript -->
     <script src="user/assets/js/bootstrap.min.js"></script>
     <script src="user/assets/js/plugins.js"></script>
     <script src="user/assets/js/popper.min.js"></script>
     <script src="user/assets/js/lazysizes.js"></script>
     <script src="user/assets/js/main.js"></script>
     <script src="user/assets/js/m-form-validation.js"></script>

</div>

<%- include('../layout/user/footer.ejs') -%>